<header>
  <h1>Waddle</h1>
  <button #newGame class="app__new-game" (click)="this.triesLeft() ? openNewGameDialog({title: {text: 'New Game?'}}) : resetGame(newGame)">
    New Game <i class="fa-solid fa-bolt"></i>
  </button>
</header>
<main class="app" [@twist]="easterEgg().twist">
  <div class="app__game-grid">
    <app-game-grid [guesses]="guessHistory()" [input]="blockInput() ? [] : input()"></app-game-grid>
  </div>
  <div class="app__keyboard">
    <app-keyboard [keyColor]="keyHistory()" (keyPress)="keyPress($event)"></app-keyboard>
  </div>
</main>
