.keyboard {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 6px;

  button {
    font-size: 20px;
    height: calc((500px - (6px * 9)) / 10);
    color: #1e0000;
    background-color: snow;
    overflow: hidden;
    position: relative;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
