/* You can add global styles to this file, and also import other style files */
html {
  font-family: 'Quicksand', sans-serif;
  background-color: antiquewhite;
}

body {
  margin: 0;
}

button {
  font-family: 'Quicksand', sans-serif;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
